.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
}

@media (min-width: 250px) {
  .form{
    width:90%;
  }
}

@media (min-width: 768px){
  .form {
    width: 586px;
  }
}

@media (min-height: 564px) {
  .form{
    height: 100vh;
  }
}