.search-bar {
  position: relative;
  display: flex;
  width: 322px;
  height: 30px;
  padding-left: 15px;
  border: 1px solid var(--color-gray-600);
  border-radius: 4px;
  font: var(--text-medium-13);
}

.search-bar__icon {
  width: 14px;
  margin-right: 5px;
}

.search-bar__input, .search-bar__input::placeholder {
  border: none;
  outline: none;
  font: var(--text-regular-13);
  color: var(--color-gray-700)
}

.search-bar__input {
  color: var(--color-blue-400);
}

.search-bar__button {
  margin-left: 60px;
  background: none;
  border: none;
  font: var(--text-regular-13);
  color: var(--color-gray-700)
}

.search-bar__divider {
  font-size: 14px;
}