.sidebar {
  position: fixed;
  height: 100vh;
  width: 234px;
  font: var(--text-regular-13);
}

.sidebar__section {
  border-bottom: 1px solid var(--color-gray-800);
  padding: 10px 30px;
}

.sidebar__main {
  display:flex;
  flex-direction: column;
}

.sidebar_dark, .sidebar__list-item_dark, .sidebar__icon_dark {
  background-color: rgb(44, 42, 52);
  color: var(--color-gray-600);
}

.sidebar__list {
  padding: 0px;
}

.sidebar__list-item {
  display: block;
  width: fit-content;
  margin-bottom: 15px;
  font: var(--text-regular-13);
}

.sidebar__list-item_em {
  font: var(--text-bold-13);
  color: var(--color-gray-400)
}

.sidebar__icon {
  width: 13px;
  margin-right: 8px;
}