.project-header__nav {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 375px;
}

.project-header__nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.project-header__nav-item {
  display: block;
}

.project-header__nav-link {
  font: var(--text-bold-14);
  color: var(--color-gray-600);
}

.project-header__nav-link_current-page {
  color: var(--color-gray-800);
}