.project-header__top {
  display: flex;
  width: 337px;
  justify-content:space-evenly;
  align-items: center;
}

.project-header__color-box {
  width: 50px;
  height: 50px;
  border-radius: 20%;
}

.project-header__color-box_blue {
  background-color: blue;
}

.project-header__bookmark-icon {
  width: 18px;
}

.project-header__bookmark, .project-header__three-dots {
  background-color: white;
  overflow: visible;
  margin: 0px;
  padding: 0px;
  border: none;
}

.project-header__three-dots {
  width: 18px;
  height: fit-content;
}

.project-header__three-dots:hover {
  cursor: pointer;
}

/* ProjectHeaderConfig element의 스타일링 코드 시작 */

.hidden {
  display: none;
}

.project-header__menu {
  margin-left: 20px;
  border: 1px solid var(--color-black);
  border-radius: 4%;
  width: 220px;
  height: 170px;
  font: var(--text-regular-13);
  z-index: 10000;
}

.project-header__menu-title {
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  justify-content: center;
  margin: 0px;
  padding: 10px 0px;
  font: var(--text-regular-13);
  background-color: var(--color-gray-800);
  color: var(--color-white);
}

.project-header__menu-list {
  display: flex;
  height: 136.41px;
  flex-direction: column;
  justify-content: center;
  padding: 0px 14px;
  margin: 0px;
  color: var(--color-gray-800);
}

.project-header__menu-item {
  display: block;
  margin: 7px 0px;
}

.project-header__menu-item::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 14px;
}

.project-header__menu-item_icon-color::before {
  background: url("../../assets/color-icon.svg") no-repeat left/14px;
}

.project-header__menu-item_icon-notification::before {
  background: url("../../assets/notification-icon.svg") no-repeat left/14px;
}

.project-header__menu-item_icon-hide {
  background: url("../../assets/hide-icon.svg") no-repeat left/14px;
}

.project-header__menu-item_icon-exit {
  background: url("../../assets/exit-icon.svg") no-repeat left/14px;
}